/* .container {
    position: relative;
    width: 280px;

    margin: 10px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.arrowContainer {
    display: block;
    position: relative;
    width: 60px;
    height: 25px;
}
.arrow,
.arrow::before,
.arrow::after {
    position: absolute;
    top: 50%; margin-top: -1px;
    left: 50%; margin-left: -10px;
    
    width: 20px;
    height: 2px;

    background-color: #000;
}

.arrow::before,
.arrow::after {
    content: '';
}

.arrow::before {
    transform: translateY(-5px);
}
.arrow::after {
    transform: translateY(5px);
} */