.linkSection {
    font-size: 24px;
}
.li {
    list-style-type: none;

    margin-bottom: 15px;

    transition: .5s;

    /* font-family:  */
}

.li:hover {
    background-color: rgba(129, 97, 218, 0.664);

    cursor: pointer;
}

.li:hover .linkSection {
    transition: .5s;
    color: white;
}
